ul li{
	display: inline-block;
	color: white;
	font-size: 22px;
	padding: 0px 30px 0px 30px;
    border-left: 2px solid white;
    border-right: 2px solid white;
}
ul {
	background-color: black;
}
nav {

}

#map-canvas{
  height: 211px;
    width: 350px;
    border: 3px solid #da3636;
    float: none;
    /* position: absolute; */
    margin-left: 60%;
}

.contactus1 {

    color: white;
    width: 254px;
    margin-left: 20%;
    line-height: 1.5;
    float: left;
    height: 180px;

}
.contactus2 {

 color: white;
    width: 254px;
    margin-left: 5%;
    line-height: 1.5;
    float: left;
    height: 180px;
        word-spacing: 50px;
    letter-spacing: 0px;

}

.footr{

    width: 100%;
    height: 250px;
    background: black;
    float: none;
    margin-top: 10%;
    padding-top: 40px;
}


.nav{

padding: 16px;
word-spacing: 200px;
text-align: center;
}

.lg{
	    width: 200px;
    margin: 20px;
    margin-left: 17%;
}

.gmb{ 
text-align: -webkit-center;
margin-top: 12px;
}
.gomb {
	    position: absolute;
    width: 250px;
    height: 46px;
    background-color: #040404;
    color: white;
    font-size: 25px;
    margin-left: 47%;
    margin-top: 3%;
}

.offer {
	margin-top: 13%;
	margin-left: 33%;
}

.backgroundimg2 {
    float: right;
    position: fixed;
    margin-left: 86%;
   
}

.backgroundimg{

	float: left;
	position: fixed;
	
}
.title {
    text-align: center;
    background: black;
    color: white;
    padding-bottom: 10px;
    padding-top: 10px;
    margin-top: auto;
    font-family: arial;
    font-size: 26px;
}

.subtitle {
padding: 20px;
font-size: 22px;
font-family: helvetica;
}

.container {
	padding-left: 20%;
margin-top: -260px;
display: flex;
width: 80%;

}
.news {
	width: 25%;
	float: left;
	box-shadow: 5px 8px 20px 3px black;


}

.deals {
		width: 25%;
	float: left;
box-shadow: 5px 8px 20px 3px black;
}

.szolg { 
	width: 25%;
	float: left;
box-shadow: 5px 8px 20px 3px black;
}

logo {
	margin-left: 30%;
    height: 111px;
    margin-top: 50px;
}

img {
	max-width: 940px;
	
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}

.slider {
  margin: 0 auto;
  max-width: 940px;
}

.slide_viewer {
  height: 365px;
  overflow: hidden;
  position: relative;
  margin-top: 70px;
}

.slide_group {
  height: 100%;
  position: relative;
  width: 100%;
}

.slide {
  display: none;
  height: 100%;
  position: absolute;
  width: 100%;
}

.slide:first-child {
  display: block;
}

.slide:nth-of-type(1) {
  background: #D7A151;
}

.slide:nth-of-type(2) {
  background: #F4E4CD;
}

.slide:nth-of-type(3) {
  background: #C75534;
}

.slide:nth-of-type(4) {
  background: #D1D1D4;
}

.slide_buttons {
  left: 0;
  position: absolute;
  right: 0;
  text-align: center;
}

a.slide_btn {
  color: #474544;
  font-size: 42px;
  margin: 0 0.175em;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.slide_btn.active, .slide_btn:hover {
  color: #428CC6;
  cursor: pointer;
}

.directional_nav {
  height: 340px;
  margin: 0 auto;
  max-width: 940px;
  position: relative;
  top: -340px;
}

.previous_btn {
  bottom: 0;
  left: 100px;
  margin: auto;
  position: absolute;
  top: 0;
}

.next_btn {
  bottom: 0;
  margin: auto;
  position: absolute;
  right: 100px;
  top: 0;
}

.previous_btn, .next_btn {
  cursor: pointer;
  height: 65px;
  opacity: 0.5;
  -webkit-transition: opacity 0.4s ease-in-out;
  -moz-transition: opacity 0.4s ease-in-out;
  -ms-transition: opacity 0.4s ease-in-out;
  -o-transition: opacity 0.4s ease-in-out;
  transition: opacity 0.4s ease-in-out;
  width: 65px;
}

.previous_btn:hover, .next_btn:hover {
  opacity: 1;
}

@media only screen and (max-width: 767px) {
  .previous_btn {
    left: 50px;
  }
  .next_btn {
    right: 50px;
  }
}